body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background-color: #f4e04d;
    padding: 20px;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
}

.car-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.car-card {
    flex: 0 1 30%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.car-card h3 {
    margin: 10px 0 5px;
}

.car-card p {
    margin: 5px 0;
}

/* Hover effect */
.car-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    background-color: #f4e04d;
}

.car-card:hover .car-title {
    color: #ff5733;
}

.car-card:hover img {
    opacity: 0.8;
}
#search {
    text-align: center;
    margin: 20px 0;
}

#searchInput {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
